.section-four {
  .tab {
    button {
      width: 100%;
      font: 400 20px/24px 'Arial', sans-serif;
      color: #262626;
      border: 1px solid #e7e7e7;
      background-color: #ffffff;
      padding: 15px 20px;
      margin-bottom: 20px;
      &:hover {
        background-color: #ff0036;
        color: #fff;
      }
    }
  }
}